html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
.mixin-clear{display:block;content:'';width:0;height:0;clear:both}
.grid-row{margin:0 18px;box-sizing:border-box}.grid-row:after{display:block;content:'';width:0;height:0;clear:both}
.grid-row .grid-row{margin:0 -18px}
.grid-col{float:left;width:117px;margin:0 18px 0 18px;padding:0;box-sizing:border-box}
.push-right{float:right}
.span-2{width:270px}
.span-3{width:423px}
.span-4{width:576px}
.span-5{width:729px}
.span-6{width:882px}
.grid-test .grid-row{background-color:#888}
.grid-test .grid-col{background-color:#eee;color:#444}
body{height:100%;background-color:#eee;background-image:url(../images/background.png);font-family:"Droid Serif",georgia,times,serif;-webkit-font-smoothing:antialiased}
p{margin-bottom:5px}
#top{position:fixed;top:0;left:0;width:100%;height:30px;background-color:#222;background-image:url(../images/top_bg.png);z-index:100}#top .navi{position:absolute;top:-130px;right:100px;padding:30px 30px 10px 30px;color:#f6f6f6;line-height:30px;background-color:#8e1000;text-align:left;box-shadow:0 2px 10px rgba(0,0,0,0.4);-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-webkit-transition-duration:.35s;-moz-transition-duration:.35s;-o-transition-duration:.35s}#top .navi ul{padding-bottom:20px}
#top .navi li{list-style:inside square;width:120px}
#top .navi a{color:#f6f6f6;text-decoration:none}#top .navi a:hover{color:#fff}
#top .navi:hover{top:0;box-shadow:0 2px 4px rgba(0,0,0,0.4)}
#main-wrapper{position:relative;width:954px;margin:0 auto;padding-top:100px;font-size:15px;line-height:20px;color:#777;text-shadow:0 -1px 0 rgba(0,0,0,0.4)}#main-wrapper section{padding-bottom:50px}
#main-wrapper .grid-row{margin-bottom:40px}
#main-wrapper h1{font-size:30px;color:#8e1208;text-shadow:0 -1px 1px rgba(0,0,0,0.6)}
#main-wrapper h2{font-size:22px;margin-bottom:20px;color:#8e1208;text-shadow:0 -1px 1px rgba(0,0,0,0.6)}
#main-wrapper h3{font-size:16px}
#main-wrapper a{color:#8e1208;text-decoration:none}#main-wrapper a:hover{color:#be180b}
#main-wrapper dt{display:block;color:#333;padding-bottom:5px}
#main-wrapper dd{display:block;margin-left:30px;padding-bottom:15px}
#main-wrapper dl{float:left}#main-wrapper dl.with-screens{float:left;width:500px}
#main-wrapper ul.screens{float:right}#main-wrapper ul.screens li{list-style:none;padding-bottom:10px}
#main-wrapper ul.screens.side-by-side li{float:left;padding-left:10px}#main-wrapper ul.screens.side-by-side li img{width:120px}
#main-wrapper ul.screens img{width:250px;border:1px solid #777;box-shadow:0 1px 4px rgba(0,0,0,0.4)}
#main-wrapper .step{display:block;width:800px;height:550px;padding:30px}
#overview{z-index:-1}
#main-wrapper #title h1{font-size:40px;margin-bottom:15px}
#main-wrapper #title p{font-size:20px}
#hint{position:fixed;left:0;right:0;bottom:-100px;padding:20px;text-align:center;font-size:30px;background-color:rgba(0,0,0,0.3);color:#fff;opacity:0;-webkit-transition-property:opacity, bottom;-moz-transition-property:opacity, bottom;-o-transition-property:opacity, bottom;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s}
.impress-on-start #hint{opacity:1;bottom:100px}
